.header {
  display: flex;
  flex-direction: column;
  background-image: url(../img/header_backround.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;


  .header_menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin-left: 113px;
    margin-right: 133px;
    margin-top: 34px;


    .header_logo {

      height: 48px;
    }

    .header_contact {

      height: 48px;
    }
  }

  .hero {
    display: flex;
    justify-content: space-between;
    margin-left: 113px;
    margin-right: 113px;
    flex-grow: 1;
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-position: right center;


    .hero_box {
      margin-top: 107px;
      display: flex;
      flex-direction: column;


      .hero_heading {
        width: 510px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 64px;
        line-height: 74px;
        letter-spacing: 0.04em;
        color: #1F3F68;
      }

      .hero_text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        width: 425px;
        color: #1F3F68;
        opacity: 0.6;
        margin-top: 32px;
      }

      .hero_button {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        width: 220px;
        max-height: 56px;
        padding: 15px;
        margin-top: 71px;
        background: border-box;
        background: #5A98D0;
        box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        border-radius: 10px;
      }
    }

  }
}

@media only screen and (max-width: 768px) {
  .header > .header_menu {
    margin-left: 32px;
    margin-right: 36px;
    margin-top: 28px;
  }

  .header > .hero {
    margin-left: 32px;
    margin-right: 42px;
    background-image: url(../img/hero_786.png);
  }

}

@media only screen and (max-width: 428px) {
  .header {
    height: 376px;

    .header_menu {
      margin-left: 16px;
      margin-top: 16px;
      margin-right: 19px;
    }
  }
  .header > .hero {
    background-image: none;


  }

  .header > .hero > .hero_box {
    align-items: center;
    margin-top: 28px;
    margin-left: 16px;
    margin-right: 17px;


    .hero_heading {
      width: 343px;

      height: 76px;
      font-weight: 300;
      font-size: 32px;
      line-height: 37px;
      text-align: center;
      letter-spacing: 0.04em;
    }

    .hero_text {
      margin-top: 12px;
      width: 343px;
      height: 96px;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.05em;
    }

    .hero_button {
      padding: 0 13px;
      width: 107px;
      height: 28px;
      font-size: 12px;
      line-height: 26px;
      text-align: center;
      margin-top: 32px;
    }
  }
}